.sidebar-list-item {
    cursor: pointer;
    list-style: none;
    padding: 10px;
    color: whitesmoke;
}
.subclass-list {
    display: none;
    list-style: none;
    padding: 0rem;
}
li .subclass-li {
  margin: 1rem 0 0rem 0rem;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 30px; 
  background-color: #00000020;
    
}
.subclass-li a {
  color: whitesmoke;
  text-align: center;
  display: block;
  outline: none;
}
.text-li {
  margin-top: 1rem;
}    
#open-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
pre {
  font-size: 20px;
  padding: 25px;
  border-radius: 30px;
  backdrop-filter: blur(100px);
  margin: 1em 0em 2em 0em;
  background-color: #00000020;
  border: 5px solid rgba(0, 0, 0, 0.2);

}
pre code.hljs {
  border-radius: 30px;
}