.wrapper-user {
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  color: #dbdbdb;
  border-radius: 30px;
  height: 95vh;
  width: 90%;
  max-width: 1000px;
  padding: 2rem 1rem 2rem 1em;
  display: block;
}



